@import "../utility/utility.scss";

.hymnal-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid transparent; // prevents selection state from adding position
  transition: 0.3s;
  padding: 15px;
  max-width: fit-content;
  border-radius: $border-radius-larger;
  margin: 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 350px;
  min-height: 460px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  &.selected {
    border: 3px solid $selectedGreen;
  }
}
.image-container {
  max-height: 400px;
  max-width: 200px;
  position: relative;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
  border-top: 1px solid $silver-lettering;
  margin-top: 20px;
  width: 100%;
}