@import "../utility/utility.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

.page-container {
  margin: 3%;
}

a {
  color: $silver-lettering;
  text-decoration: none;
  font-family: $default-font;
  font-weight: $font-weight-bold;
}

button {
  @include default-button-styles();
}
